li {
  padding: 5px;
  margin: 5px;
  background: #958166;
  color: white
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  color: white;

}

body, h1, h2 {
  /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqh5wNdlTFnMMiCsGdq5cV2bYbuwPACDFknQ&usqp=CAU); */
  background-color: royalblue;
  color: white;
  text-align: center;
}

.row {
  color: black;
  background-color: royalblue
  ;
}

.container {
  padding: 2px;
}